@page
@model ConfigureSslModel
@{
    ViewData["Title"] = "ConfigureSsl";
}

<h2>Configure Fiddler For Decrypt HTTPS Traffic</h2>

<ul class="presentation-list">
    <li>Tools</li>
    <li>Options...</li>
    <li>
        HTTPS
        <ul>
            <li>&#10004; Capture HTTPS CONNECTs</li>
            <li>&#10003; Decrypt HTTPS traffic <i>(Engine: CertEnroll)</i></li>
            <li style="color: red">&#10003; Ignore server certificate errors (unsafe)</li>
            <li>Don't forget to select all protocols</li>
        </ul>
    </li>
</ul>

<h4>Disclaimer</h4>
<p>Please make sure that: Stop <code>CAPTURING</code> after you are done with the demanded traffic has been captured.</p>

<img src="~/images/assets/toolsOptions.png" />
<img src="~/images/assets/https.png" />