@page
@model EricLawrenceModel
@{
    ViewData["Title"] = "EricLawrence";
}

<h2>Credits To Eric Lawrence</h2>

<ul class="presentation-list animate">
    <li>Created by Eric Lawrence (@@ericlaw)</li>
    <li>Principal Program Manager @@Microsoft</li>
    <li>First version 0.8, October 2013</li>
    <li>Has 2 books:
        <ul>
            <li>Debugging with Fiddler</li>
            <li>Debugging with Fiddler, Second Edition</li>
            <li><a href="https://fiddlerbook.com/book/" target="_blank">Buy book!</a></li>
        </ul>
    </li>
</ul>