@page
@model HowDoesModel
@{
    ViewData["Title"] = "HowDoes";
}

<h2>How Does Fiddler Works</h2>

<ul class="presentation-list animate">
    <li>Proxy</li>
    <li><img src="/images/fiddlerProxy.gif" alt="pro"/>
    </li>
    <li>
        Use as
        <ul>
            <li>Local proxy</li>
            <li>Remote proxy (smart phones, tablets, non-windows platforms</li>
        </ul>
    </li>
    <li>Adjusts browser's proxy configuration to intercepts traffic</li>
    <ul>
        <li><i>Many of the latest browsers work with <code>localhost</code> and <code>127.0.0.1</code> automatically</i></li>
        <li><i>ipv4.fiddler or ipv6.fiddler</i></li>
    </ul>
</ul>