@page
@model WhatIsModel
@{
    ViewData["Title"] = "WhatIs";
}

<h2>What Is Fiddler</h2>

<ul class="presentation-list animate">
    <li>Freeware HTTP tracing tool</li>
    <li>Show complete request and response (not packets)</li>
    <li>Freeware HTTP tracing tool</li>
    <li>Written in C#</li>
    <li>
        Support extending with
        <ul>JScript .NET</ul>
        <ul>C#</ul>
    </li>
</ul>