@page
@model SandboxWebApp.WhyShouldIModel
@{
    ViewData["Title"] = "WhyShouldI";
}

<h2>Why Should I Use Fiddler</h2>

<ul class="presentation-list animate">
    <li>Troubleshoot problems</li>
    <li>Performance evaluation</li>
    <li><i>Fiddle</i> with requests and responses</li>
    <li>Security testing</li>
    <li>Visualize page requests (timeline)</li>
    <li>Periodic site/api reviews</li>
</ul>