@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/fiddler.png" alt="Fiddler" class="img-responsive img-blur" />
            <div class="carousel-caption" role="option">
                <p>
                    What is Fiddler!
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/debugging.jpg" alt="Debug" class="img-responsive img-blur" />
            <div class="carousel-caption" role="option">
                <p>
                    How to use Fiddler like a Boss!
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/nettraf.png" alt="Network" class="img-responsive img-blur" />
            <div class="carousel-caption" role="option">
                <p>
                    Shh! No-one knows these features!
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Agenda</h2>
        <ul>
            <li>What?? Fiddler?</li>
            <li>How to use Fiddler properly</li>
            <li>Not well-known features</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Fiddler</h2>
        <ul>
            <li><a asp-page="PartOne/WhatIs">What is Fiddler</a></li>
            <li><a asp-page="PartOne/EricLawrence">Credits to Eric Lawrence</a></li>
            <li><a asp-page="PartOne/WhyShouldI">Why should i use</a></li>
            <li><a asp-page="PartOne/HowDoes">How does Fiddler works</a></li>
            <li><a asp-page="PartOne/ConfigureSsl">Configure SSL Decrypt</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>UI</h2>
        <ul>
            <li><a asp-page="">UI Overview</a></li>
            <li><a asp-page="">Session List</a></li>
            <li><a asp-page="">Inspector</a></li>
            <li><a asp-page="">Ribbon Buttons</a></li>
            <li>
                Big World
                <ul>
                    <li>Filters</li>
                    <li>Composer</li>
                    <li>Debugging</li>
                    <li>AutoResponder</li>
                    <li>Fiddler Script</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Secrets</h2>
        <ul>
            <li><a asp-page="">.NET Trace</a></li>
            <li><a asp-page="">Remote Debugging</a></li>
            <li><a asp-page="">API Test</a></li>
            <li><a asp-page="">HOSTS</a></li>
        </ul>
    </div>
</div>
