@page
@model DebugModel
@{
    ViewData["Title"] = "Debug";
}

<h2>Debugging And Breakpoints</h2>

<i>Debugging could not be think without calling term "Breakpoint"</i>

<ul class="presentation-list">
    <li>
        Basically speaking
        <ul>
            <li>
                <i>Has similar features with tabs like: <code>AutoResponder</code>, <code>Composer</code> ...</i>
                <br />
                <span style="font-size: 14px !important"><i>C'mon only thing we have is requests and responses</i></span>
            </li>
            <li><strong>But does all of them <span style="color: red">ON THE FLY!</span></strong></li>
            <li>Uses breakpoints</li>
            <li>Change request on fly</li>
            <li>Change response on fly</li>
        </ul>
    </li>
    <li>
        Introduces
        <ul>
            <li>Before request breakpoint</li>
            <li>After response breakpoint</li>
        </ul>
    </li>
    <li>On the fly edit could come handy occasionally</li>
    <li>Most complex feature to use (i.m.o.)</li>
    <li>Makes <code>Useless looking Footer</code> useful! 😅</li>
</ul>

<div class="row">
    <h3>Demo</h3>
    <div class="col-lg-4">
        <h4>Word given from <code>WordsAPI</code>:</h4>
        <p style="font-family: monospace; font-size: 25px; color: darkgreen">
            <span id="wordPlaceHolder"></span>
        </p>
    </div>
    <div class="col-lg-8">
        <h4>Image given from <code>Giphy API</code>:</h4>
        <p style="font-family: monospace; font-size: 25px; color: darkgreen">
            <span id="imgPlaceHolder"></span>
        </p>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.js"></script>
<script src="~/js/debugging.js"></script>