@page
@model FiltersModel
@{
    ViewData["Title"] = "Filters";
}

<h2>Filters</h2>

<div class="row">
    <div class="col-lg-7">
        <ul class="presentation-list">
            <li><span style="color: red">NOT</span> just filters</li>
            <li>Best friend for unwanted captures!</li>
            <li>Manipulate request headers</li>
            <li>Filter according to result code</li>
            <li>Can be exported and imported</li>
        </ul>
    </div>
    <div class="col-lg-5">
        <img class="img-responsive" src="~/images/assets/filters.png" />
    </div>
</div>
