@page
@model InspectorModel
@{
    ViewData["Title"] = "Inspector";
}

<h2>The Inspector 🕵️‍♂</h2>

<div class="row">
    <div class="col-lg-6">
        <h3>Request</h3>
        <ul>
            <li>Headers</li>
            <li>TextView</li>
            <li>SyntaxView</li>
            <li>WebForms</li>
            <li>HexView</li>
            <li>Auth</li>
            <li>Cookies</li>
            <li>Raw</li>
            <li>JSON</li>
            <li>XML</li>
        </ul>
    </div>
    <div class="col-lg-6">
        <h3>Response</h3>
        <ul>
            <li>Transformers</li>
            <li>Headers</li>
            <li>TextView</li>
            <li>SyntaxView</li>
            <li>ImageView</li>
            <li>HexView</li>
            <li>WebView</li>
            <li>Auth</li>
            <li>Caching</li>
            <li>Cookies</li>
            <li>Raw</li>
            <li>JSON</li>
            <li>XML</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <img class="img-responsive" src="~/images/assets/inspector.png" />
    </div>
</div>