@page
@model UiModel
@{
    ViewData["Title"] = "Ui";
}

<h2>Ui Overview</h2>

<img class="img-responsive" src="~/images/assets/ui.png" />

<hr />
<h4>Honorable Mentions</h4>

<ul>
    <li>The Menu</li>
    <li>Quick Exec</li>
    <li>Quick Filters</li>
    <li><i>Useless looking useful</i> Footer</li>
</ul>